/* body {background:red} */
* { margin:0; padding:0;}
#wrap { width:1000px; margin:0 auto;}
#wrap_box {width:100%; display:block;}
#box_a {height:400px; background:#fcb354; float:left; width:30%;}
#box_b {height:400px; background:#f1779e; float:left; width:40%;}
#box_c {height:400px; background:#24bbaf; float:left; width:30%;}

/* ctrl+Alt+4 */
@media screen and (max-width:1024px) {
    #wrap {width:100%;}
}
@media screen and (max-width:800px) {
    #wrap_box {position:absolute; width:150%;}
	#box_a { width:33.333333%;}
	#box_b { width:33.333333%; float:left;}
	#box_c { width:33.333334%; float:left;}
	
}
@media screen and (max-width:480px) {
    #wrap_box {width:300%; margin-left:-100%;}
}


/* body { text-align:center; } */
/* img { display:block; margin:0 auto; } */
